<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
    displayDetailsOnAllIssues="true"
    failOnDeprecation="true"
    failOnWarning="true">

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>

    <testsuites>
        <testsuite name="unit test">
            <directory>./test/unit</directory>
            <exclude>./test/unit/Adapter/Driver/Pdo/StatementIntegrationTest.php</exclude>
        </testsuite>
        <testsuite name="integration test">
            <directory>./test/integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
